/* quicksand */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
/* nexa font */
@import url('https://fonts.cdnfonts.com/css/nexa-bold');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Quicksand";
}
.bg{
    background-color: #8a47f62f;
}
.nav-btn{
    height: 52px;
    width: 187px;
    font-size: 18px;
    background-color: #FE8C45;
}
nav div ul li a {
    font-size: 18px;
}
.hv{
    transition: 0.5s all;
}
.hv:hover{
    background-color: #FE8C45;
    border-radius: 8px;
    padding: 5px;
    color: white !important;
    text-decoration-line: underline !important;
    text-underline-offset: 5px !important;
}
.fontSize{
    font-size: 74px;
}
.carousel-img{
    height: 480px;
    width: 100%;
}
.in{
    color: #8A47F6;
}
.divide{
    height: 25px;
    width: 156px;
    background-color: #8A47F6;
}
.roun{
    height: 15px !important;
    width: 15px !important;
    border-radius: 100%;
    background-color: #8A47F6 !important;
}
.about-font{
    font-size: 48px;
}
.about-btn{
    height: 52px;
    width: 230px;
    font-size: 18px;
    background-color: #FE8C45;
}
.hrl{
    width: 26px;
    height: 1px;
    background-color: #8A47F6;
    margin-bottom: 3px;
}
.f-nexa{
    font-family: "Nexa";
}
.pf-font{
    font-size: 22px;
}
.fw{
    font-weight: 900;
}

.p-fs{
    font-size: 24px;
}
.pl-bg{
    background-color: #222222;
}
.pl-w{
    height: 398px;
}
.pl-btn{
    height: 52px;
    width: 198px;
    font-size: 18px;
    background-color: #FE8C45;
}
.pl-btn2{
    height: 52px;
    width: 198px;
    font-size: 18px;
    background-color: white;
}
.pl3-mt{
    margin-top: 80px;
}
.test-btn{
    height: 55px;
    width: 272px;
    background-color: #8a47f62e;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    margin-top: 10px;
    & img{
        height: 40px;
        width: 40px;
        float: left;
    }
}
.arrow{
    width: 44px;
    height: 44px;
    border: 1px solid #333333;
    border-radius: 100%;
    height: fit-content;
    padding: 7px;
    text-align: center;
    margin-top: 15px;
    cursor: pointer;
}
.test-font{
    font-size: 18px;
}

.fr-font{
    font-size: 34px;
}
.fr-box{
    margin-top: 120px;
    background-color: #8a47f62f;
}
i{
    background-color: #8A47F6;
    border-radius: 100%;
    color: white;
    text-align: center;
    font-size: 22px;
}
.loca{
    font-size: 22px;
    font-weight: 600;
    color: #333333;
}
.fr-col2{
    margin-top: 130px;
}
label{
    font-size: 20px;
    font-weight: 500;
}
.ft-font{
    font-size: 18px;
    font-weight: 400;
}
footer div span{
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 100%;
    cursor: pointer;
    font-size: 22px;
}
#message:focus, #Email:focus, #name:focus{
    box-shadow: inset 2px 4px 7px #FE8C45;
    font-size: 18px;
    font-weight: 600;
    outline: none;
    border: none;
}
#message, #Email, #name{
    box-shadow: 2px 2px 7px 0.1px black;
    font-weight: 500;
    transition: 0.5s all;
}

/* scrollbar */
::-webkit-scrollbar{
    width: 8px;
    background-color: #33333340;
}
::-webkit-scrollbar-thumb{
    background-color: #FE8C45;
    border-radius: 35px;
}
::-webkit-scrollbar:hover{
    background-color: #8A47F6;
}
